* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", Roboto, sans-serif;
    font-size: 14px;
}

#waybar {
    background-color: transparent;
    margin-top: 6px; 
}


.modules-left, .modules-center, .modules-right {
    background-color: #1a1b26; 
    border: 1px solid #7aa2f7; 
    border-radius: 15px;      
    padding: 0 15px;          
    margin: 0 5px;            
}

#clock, #battery, #pulseaudio, #network, #custom-wallpaper, #workspaces button {
    padding: 0 5px;
    color: #c0caf5;
}

#pulseaudio.muted {
    color: #f7768e; /* Un tono rojizo para indicar silencio */
}

#workspaces button.active {
    color: #7aa2f7;
    font-weight: bold;
}

#battery.warning { color: #e0af68; }
#battery.critical { color: #f7768e; }
